@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body{ margin:0; padding:0; font-family: 'Open Sans', sans-serif;}

header{ float:left; width:100%; margin:0; padding:30px 0 0 0;}
header a{ float:right; margin:0 0 0 11px;}
header button{ float:right; font-size:16px; color:#164c9a; background:#fff; border:none; border-radius:3px; padding:1px 15px; text-transform:uppercase;}

.left-sectn{ float:left; padding:0;}
.logo{ float:left; width:100%; margin:-10px 0 0 0;}
.lft-bear-img{ float:left; margin:40px 0 0 40px; } 
.lft-data{ float:left; width:100%; margin:0; padding:0;}
.lft-data p{ float:left; width:90%; font-size:16px; margin:10px 0 0 0; line-height:22px; color:#05174a; font-weight:600;}
.lft-data ul{ float:left; width:100%; margin:23px 0; padding:0;}
.lft-data li{ float:left; width:100%; color:#1d1d1d; font-size:16px; list-style:none; margin:0 0 5px 0; font-weight:400;}
.lft-data li span{ float:left; height:9px; width:9px; background:#00d300; margin:7px 9px 0 0;}
.appstore-icn-big{ float:left;}

.right-sectn{ float:right; padding:0;}
.right-device-big-img{ float:right; margin:50px -16px 0 0;}

footer{ float:left; width:100%; margin:65px 0 25px 0;}
.login-signup{ float:left;}
.login-signup a:hover{ text-decoration:none;}
.login-signup .login-btn {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #164c9a;
  border-radius: 3px;
  color: #164c9a;
  float: left;
  font-size: 16px;
  margin: 0 6px 0 0;
  padding: 1px 15px;
  text-transform: uppercase;
}
.login-signup .signup-btn {
  background: #164c9a none repeat scroll 0 0;
  border: 1px solid #164c9a;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 1px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-copyright{ float:right; color:#7e7e7e; font-size:14px; margin:0 0 0 35px; font-weight:400;}
.footer-nav{ float:right;}
.footer-nav ul{ float:right; margin:0; padding:0;}
.footer-nav li{ float:left; list-style:none;}
.footer-nav li a{ float:left; font-size:14px; color:#414141; text-decoration:none; padding:0 10px; font-weight:400;}



/*****************innerpage*************************************/
.innerbody {
    background:#ffffff!important;
    padding-top:50px;
}


.innerbody .navbar-brand {
  float: left;
  height: 50px;
  overflow: hidden;
  padding: 5px 0 0;
  width: 143px;
}

.innerbody .navbar-brand img {
max-width: 100%;
}

.innerbody .navbar {
  height: auto;
  margin-bottom: 0;
}

.innerbody  .nav.navbar-nav {
  float: right;
}

.innerbody .navbar-inverse {
  background-color: #164c9a;
  border-color: #164c9a;
}

.innerbody  .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}


.innerbody .navbar-inverse .navbar-nav > .active > a, 
.innerbody .navbar-inverse .navbar-nav > .active > a:focus,
.innerbody .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #04c23a;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #a4ffe9!important;
}


@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.innerbody .list-group-item,
.innerbody .list-group-item.active:
.innerbody .list-group-item.active:hover {
  background-color: #164c9a;
  border-color: #164c9a;
  color: #fff;
  z-index: 2;
}

.modal-content {
border: 3px solid #05174A !important;
}
.loginnow .modal-footer {
float: left;
margin-bottom: -7px;
margin-top: 20px;
padding: 10px 10px 0;
width: 100%;
}

.loginnow .modal-dialog.modal-lg {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.loginnow input[type="text"] {
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 0 5px #dadada inset;
float: left;
margin-bottom: 0;
margin-top: 15px !important;
padding: 10px;
width: 100%;
}
.loginnow input[type="password"] {
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 0 5px #dadada inset;
float: left;
margin-bottom: 0;
margin-top: 15px !important;
padding: 10px;
width: 100%;
}
a:focus, a:hover {
color: #23527c;
text-decoration: underline;
}
.fb_login .btn.btn-primary.btn-lg {
float: left;
}
.btn-group-lg>.btn, .btn-lg {
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
}

.modal-footer.fb_login > a {
  float: right !important;
  margin-top: 0 !important;
}

.modal-footer.fb_login img {
width: 189px;
}
img {
vertical-align: middle;
}
img {
border: 0;
}

.forgott_password {
  float: left;
  font-size: 12px;
  margin-bottom: -10px;
  padding-right: 15px;
  padding-top: 7px;
  width: 100%;
}

#register.tab-pane.fade.active.in {
  display: inline-block;
  width: 100%;
}


.loginnow .btn.btn-primary.btn-lg {
  background: none repeat scroll 0 0 #05174A;
  border: medium none;
}

.loginnow .btn.btn-primary.col-lg-12 {
  background: #05174a none repeat scroll 0 0;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 15px;
  padding: 8px 16px;
}


.loginnow  button.close {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 10;
}
.forgotpassword .modal-body {
  height: 214px;
}

.errorMessage {
  color: red;
  float: left;
  width: 100%;
  font-size: 12px;
}

.right-sectn .right-device-big-img {
  max-width: 100%;
}


.logo img {
  max-width: 100%;
}

.col-xs-12.col-md-4.col-sm-4.signupfb {
  float: right;
  margin-top: -41px;
  padding: 0;
  text-align: center;
  width: 206px;
}

.col-xs-12.col-md-4.col-sm-4.signupfb img {
  width: 100%;
}

.loginnow .btn.btn-primary.col-lg-12 {
    float: left;
    width: auto;
}

form#register-popup-form {
    float: left;
    width: 100%;
}



.fb_login .btn.btn-primary.btn-lg {
  padding: 8px 16px;
}


.forgott_password .pull-right {
  cursor: pointer;
}


@media (max-width: 1000px) {
    .container {
  width: 95%;
}    
    
}

@media (max-width: 640px) {
.right-sectn {
  display: none;
  float: right;
  padding: 0;
  visibility: hidden;
}

.left-sectn {
  float: left;
  padding: 40px 0 0;
  width: 100%;
}

.login-signup {
  float: left;
  margin-bottom: 15px;
}

.footer-copyright {
  margin: 0 0 15px;
  width: 100%;
}

footer {
  text-align: center;
}

.login-signup {
  width: 100%;
}

.login-signup a {
  display: inline-block;
  float: none !important;
}

.footer-nav li {
  display: inline-block;
  float: none;
  list-style: outside none none;
}

}



@media (max-width: 320px) {
.col-xs-12.col-md-4.col-sm-4.signupfb {
  float: right;
  margin-top: -37px;
  padding: 0;
  text-align: center;
  width: 166px;
}


.control_label_input > input[type="text"] {
  margin: 0 0 14px!important;
  width: 100%!important;
}


}













.add.wild.form form{
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 0 6px #dedede inset;
  float: left;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px 5px 9px;
  text-align: left;
  width: 100%;
}


.add.wild.form .form-group {
  display: inline-block;
  margin: 5px;
  max-width: 253px;
  width: auto;
}

.add.wild.form .row {
  display: inline-block;
  margin: 5px 0 !important;
  padding: 0 5px;
  text-align: left;
  float: left;
}

.add.wild.form label {
  color: #666 !important;
  font-size: 13px;
  font-weight: normal;
  padding-left: 15px;
  padding-right: 6px;
  padding-top: 6px;
  width: auto;
  display: inline-block;
}


.add.wild.form .row.buttons {
  padding-left: 20px;
float: left;
}

.add.wild.form input, .wide.form input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px #dbdbdb inset, 2px 2px #e9e9e9;
  max-width: 150px;
  padding: 4px;
  width: auto !important;
    display: inline-block;
}


.add.wild.form select, .wide.form select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px #dbdbdb inset, 2px 2px #e9e9e9;
  max-width: 150px;
  padding: 4px;
  width: auto !important;
    display: inline-block;
}


.add.wild.form a, .wide.form a {
  margin-left: 5px;
  cursor: pointer;
}


.add.wild.form .row.buttons input[type="submit"], .wide.form .row.buttons input[type="submit"] {
  background: #00cd45 none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  border:none;
}


.add.wild.form .row.buttons input[type="submit"]:hover, .wide.form .row.buttons input[type="submit"]:hover {
  background: #3b9d3b;
  }

.changepass .form-group {
  float: left;
  width: 100%;
}

.changepassword_btn.btn.btn-lg.btn-success.btn-block {
  float: right;
  font-size: 16px;
  margin-right: 0;
  padding: 6px 18px;
  width: auto;
}

.changepass  .panel-title {
  color: inherit;
  font-size: 13px;
  margin-bottom: 19px;
  margin-top: 0;
}

.changepass {
  float: none;
  margin: 40px auto 0;
  max-width: 482px;
}

.changepass .panel.panel-default {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

.changepass .panel-default > .panel-heading {
  background-color: #f5f5f5;
  color: #333;
  float: left;
  width: 100%;
  padding:20px;
}

.changepass div {
  padding: 0;
}

.changepass .form-control {
  margin-left: 5%;
  width: 95%;
}


.innerbody h1 {
  border-bottom: 1px solid #00cd45;
  color: #005199;
  font-size: 30px;
  font-weight: normal !important;
  margin: 0 0 20px;
  padding-bottom: 4px;
}

.innerbody .col-xs-12.col-sm-9.inner_page_right {
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.innerbody .col-xs-6.col-sm-3.sidebar-offcanvas {
  border-right: 1px solid #ccc;
}

p.pull-right.visible-xs {
  position: fixed;
  right: 5px;
  top: 55px;
}

.row.row-offcanvas.row-offcanvas-left {
  float: left;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 15px;
  width: 100%;
}

.innerbody.control_gmap {
  margin-top: -17px;
  padding-top: 0;
}



@media (max-width: 767px) {
    
    .innerbody .col-xs-12.col-sm-9.inner_page_right {
  border-left: medium none;
}
    .innerbody .col-xs-6.col-sm-3.sidebar-offcanvas {
  border-right: medium none;
}

.innerbody .active  .col-xs-6.col-sm-3.sidebar-offcanvas {
  min-width:200px;
}


    .innerbody  .sidebar-offcanvas .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
}

    .innerbody  .sidebar-offcanvas .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  margin-bottom: 0;
}

    .innerbody  .sidebar-offcanvas  .list-group {
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 20px;
  padding-left: 0;
}


        
}



.left_loc label {
  float: left;
  font-weight: normal;
  width: 100%;
  margin-bottom:2px;
}

.left_loc input, .left_loc select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px #e5e5e5 inset;
  float: left;
  font-weight: normal;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}



.left_loc .col-xs-12.col-md-3.col-sm-3 {
  float: left;
  width: 100%;
    padding:0;
}

.left_loc .col-xs-12.col-md-9.col-sm-9 {
  float: left;
  width: 100%;
  padding:0;
}

.left_loc  .row {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left_loc .btn.btn-primary.latlang {
  float: left;
  margin-bottom: 35px;
  white-space: pre-line;
  word-wrap: break-word !important;
}

.left_loc input[type="submit"] {
  background: #164c9a none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
}


.row.contrl_location {
  float: left;
  margin-top: 14px;
  padding-left: 15px;
  width: 100%;
}

.col-lg-5.col-md-5.col-sm-5.left-sectn.inner-logo {
  margin-top: -28px;
  width: 180px;
}

.container.outerpage {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #164c9a;
  border-radius: 8px;
  margin-top: 90px;
  max-width: 550px;
  padding: 20px 30px 50px;
}

.my_resetpassword {
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding: 5% 0;
  text-align: center;
  width: 100%;
}

.my_resetpassword h5 {
  color: #164c9a;
  font-size: 19px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.my_resetpassword  label {
  font-size: 14px;
  font-weight: normal;
}

.control_label_input > input[type="password"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc inset;
  margin: 8px;
  padding: 8px;
}

.control_label_input > input[type="submit"] {
  background: #164c9a none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
}

.container.outerpage #User_password_em_.errorMessage {
  color: red;
  float: left;
  font-size: 12px;
  padding-left: 18%;
  padding-right: 18%;
  text-align: left;
  width: 100%;
}


.forgotpassword.loginnow input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px #dadada inset;
  float: left;
  margin-bottom: 0;
  margin-top: 15px !important;
  padding: 10px;
  width: 100%;
}

#resetpassword {
  float: left;
  margin-top: -22px;
  width: 100%;
}

#resetpassword h5 {
  margin-bottom: 0;
  padding-left: 10px;
}

.addloc_div {
  float: left;
  width: 100%;
}

.addloc_div > a {
  background: #337ab7 none repeat scroll 0 0;
  border-radius: 5px;
  clear: both;
  color: #fff;
  float: left;
  margin-bottom: 34px;
  margin-left: 18px;
  padding: 5px 10px;
  text-decoration: none;
  width: auto;
}

input.User_alert_distance, .user-alert-days {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 0 5px #ccc inset;
  padding: 5px 10px;
  width: auto !important;
}


.notificationns .dropdown-menu {
  margin: 0;
  max-width: 280px;
  min-width: 201px;
  padding: 0;
}

.notificationns .glyphicon.glyphicon-bell {
  float: left;
  font-size: 20px;
}



.notificationns .dropdown-menu a {
  border-bottom: 1px solid #ccc;
  float: left;
  margin: 0;
  padding: 4px 8px;
  width: 100%;
}

.notificationns .dropdown-menu li {
  float: left;
  padding: 0;
  text-align: left !important;
  width: 100%;
}

.notificationns .row_noti {
  color: #333;
  display: block;
  float: left;
  font-size: 16px;
  max-width: 258px;
  padding-left: 9px;
  padding-top: 3px;
  text-transform: capitalize;
  white-space: normal;
  width: 135px;
  word-wrap: break-word;
}

.notificationns .p_noti {
  float: left;
  font-size: 13px;
  margin-top: 1px;
  width: 100%;
}


.cont_gm_img {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.cont_gm_des {
  float: left;
  width: 100%;
}

.googlemap_right_inner {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  float: left;
  padding: 10px 15px;
  width: 100%;
}

.innerbody.control_gmap h1 {
  font-size: 23px;
}



.error-changepassword {
  float: left;
  width: 100%;
}
.error-changepassword .flashes {
  color: red;
  font-size: 12px;
  list-style: outside none none;
  padding-left: 6%;
}

#notification-form .btn.btn-primary.pull-right {
  margin-bottom: 11px;
  margin-right: 15px;
  margin-top: -10px;
}


.share-wild-alert-map.pull-right {
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  float: left !important;
  margin-bottom: 10px;
  margin-left: 4%;
  width: 92% !important;
}

.share-wild-alert-map.pull-right h1 {
  border-bottom: 1px solid #ccc;
  float: left;
  font-size: 22px;
  margin-top: 3px;
  width: 100%;
}

.share-post-logo {
  height: 80px;
  margin-bottom: 15px;
  margin-top: -52px;
}

#bodyContent {
  float: left;
  width: 58%;
}

.right-details {
  float: right;
  margin-left: 20px;
  max-width: 160px;
  width: 40%;
}

.right-details img {
 max-width:100%;
}

.dropdown-menu.dropdown-alerts.pull-right {
  max-height: 200px;
  overflow-y: scroll;
}

.th-color {
  border-radius: 32px;
  display: block;
  float: left;
  height: 30px;
  padding: 0;
  width: 30px;
}
.wap-th-color {
  border-radius: 50px;
  display: inline-block;
  height: 20px;
  margin-left: 6px;
  width: 20px;
}
.not-found {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  float: none;
  margin: 2% auto 5%;
  max-width: 550px;
  padding: 6% 3%;
  text-align: center;
}
.not-found h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}


a.cont_bell.dropdown-toggle {
  padding-bottom: 10px !important;
}

.notifi {
  background: red none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  float: right;
  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  margin-left: -5px;
  margin-top: -5px;
  padding: 0 3px;
}

@media screen and (max-width: 320px) {
.modal-content {
  max-width: 300px;
  width: 100%;
}
}

@media screen and (max-width: 450px) {
 .share-post-logo {
  height: auto;
  left: 50%;
  margin-bottom: 15px;
  margin-left: -90px;
  margin-top: 14px;
  position: relative;
  width: 180px;
}
}

@media (min-width:320px) and (max-width:767px){
.nav.navbar-nav{ width:100%; margin:10px 0 0 0;} 
.navbar-nav li{ float:left; width:100%;} 
.navbar-nav li span{ color:#fff !important;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color:#fff !important;}
}